


.jumbotron{
    margin-top: 90px;

}
  .card{
      border: none;
  }

  .secrow{
      
      border-bottom: .5px solid #8b8b8b;
  }

  footer {
    
    height: 60px;
    color: #8b8b8b;
  }

  .rownav{
        background-color: #ffffff;
        color:#8b8b8b ;
  }


  
/*   
  .footer-menu {
    margin-left: -30px;
  }
  .footer-menu li {
    display: inline;
    margin: 10px;
  }
  
  .footer-menu li a {
    text-decoration: none;
    
    font-size: 17px;
  } */